In [1]:

#!jupyter nbextension enable --py --sys-prefix widgetsnbextension

#!pip install gmaps

#!jupyter nbextension enable --py --sys-prefix gmaps

In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bredasdorp,ZA,2022-11-13 20:12:03,-34.5322,20.0403,59.23,82,0,1.83
1,1,East London,ZA,2022-11-13 20:12:04,-33.0153,27.9116,64.00,76,5,12.28
2,2,Ushuaia,AR,2022-11-13 20:12:04,-54.8000,-68.3000,56.86,47,20,13.80
3,3,Bluff,NZ,2022-11-13 20:12:04,-46.6000,168.3333,49.64,78,25,6.64
4,4,Hithadhoo,MV,2022-11-13 20:12:05,-0.6000,73.0833,81.25,77,100,13.42

In [4]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature and set minimum to zero.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature and set minimum to zero.
#max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure()

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

In [17]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure()

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4) 

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [21]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [22]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
4,4,Hithadhoo,MV,2022-11-13 20:12:05,-0.6000,73.0833,81.25,77,100,13.42
5,5,Cabo San Lucas,MX,2022-11-13 20:08:39,22.8909,-109.9124,82.62,65,40,11.50
7,7,Santiago Del Estero,AR,2022-11-13 20:12:05,-27.7951,-64.2615,80.47,38,16,14.81
12,12,Vanimo,PG,2022-11-13 20:12:07,-2.6741,141.3028,77.67,89,98,3.56
17,17,Arlit,NE,2022-11-13 20:12:08,18.7369,7.3853,75.87,17,12,12.44
19,19,Limbang,MY,2022-11-13 20:12:09,4.7500,115.0000,77.11,97,100,1.50
22,22,Atuona,PF,2022-11-13 20:08:34,-9.8000,-139.0333,77.54,79,5,19.08
26,26,Chipata,ZM,2022-11-13 20:12:11,-13.6333,32.6500,76.62,43,100,3.83
31,31,Tomatlan,MX,2022-11-13 20:12:12,19.9333,-105.2500,86.09,46,4,6.87
32,32,Georgetown,MY,2022-11-13 20:10:43,5.4112,100.3354,80.24,91,40,0.00

In [23]:
# Determine if there are any null values
preferred_cities_df.count()

City_ID       164
City          164
Country       164
Date          164
Lat           164
Lng           164
Max Temp      164
Humidity      164
Cloudiness    164
Wind Speed    164
dtype: int64

In [24]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                   City Country  Max Temp      Lat       Lng Hotel Name
4             Hithadhoo      MV     81.25  -0.6000   73.0833
5        Cabo San Lucas      MX     82.62  22.8909 -109.9124
7   Santiago Del Estero      AR     80.47 -27.7951  -64.2615
12               Vanimo      PG     77.67  -2.6741  141.3028
17                Arlit      NE     75.87  18.7369    7.3853
19              Limbang      MY     77.11   4.7500  115.0000
22               Atuona      PF     77.54  -9.8000 -139.0333
26              Chipata      ZM     76.62 -13.6333   32.6500
31             Tomatlan      MX     86.09  19.9333 -105.2500
32           Georgetown      MY     80.24   5.4112  100.3354

In [25]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [28]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [31]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
4,Hithadhoo,MV,81.25,-0.6000,73.0833,Scoop Guest House
5,Cabo San Lucas,MX,82.62,22.8909,-109.9124,Hotel Tesoro Los Cabos
7,Santiago Del Estero,AR,80.47,-27.7951,-64.2615,Apartamentos Castelli 90
12,Vanimo,PG,77.67,-2.6741,141.3028,Vahmoneh Lodge Vanimo
17,Arlit,NE,75.87,18.7369,7.3853,Case de Passage De la Prefecture
19,Limbang,MY,77.11,4.7500,115.0000,Purnama Hotel
22,Atuona,PF,77.54,-9.8000,-139.0333,Villa Enata
26,Chipata,ZM,76.62,-13.6333,32.6500,Protea Hotel by Marriott Chipata
31,Tomatlan,MX,86.09,19.9333,-105.2500,El Salvial
32,Georgetown,MY,80.24,5.4112,100.3354,Cititel Penang

In [33]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [37]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))